global:
  namespace: fleet
  imagePullPolicy: IfNotPresent

ingress:
  enabled: true
  className: "traefik"
  hosts:
    - api.autoscaleops.com
    - telematics.autoscaleops.com
  tls: true

goApi:
  enabled: true
  image:
    repository: sangkips/fleet-backend
    tag: latest
    pullPolicy: IfNotPresent
  replicas: 1
  service:
    type: ClusterIP
    port: 80
    targetPort: 8080
  containerPort: 8080
  env:
    PORT: "8080"
    GIN_MODE: "release"
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "200m"

nextjsFrontend:
  enabled: true
  image:
    repository: sangkips/fleet-frontend
    tag: latest
    pullPolicy: IfNotPresent
  replicas: 1
  service:
    type: ClusterIP
    port: 80
    targetPort: 3000
  containerPort: 3000
  env:
    PORT: "3000"
    NODE_ENV: "production"
    VITE_API_URL: "https://api.autoscaleops.com/api/v1"
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "200m"

redis:
  enabled: true
  image:
    repository: redis
    tag: 7-alpine
    pullPolicy: IfNotPresent
  service:
    port: 6379
    targetPort: 6379
  resources:
    requests:
      memory: "64Mi"
      cpu: "50m"
    limits:
      memory: "128Mi"
      cpu: "100m"

mongodb:
  atlas:
    connectionString: ""